.light_theme_post {
  @apply container md:my-20 mx-auto px-12 text-[#565b5f];
}

.light_theme_back_btn {
  @apply border p-2 px-6 hover:bg-black hover:text-white transition duration-200;
}

.light_theme_form {
  @apply text-black text-sm rounded-lg block w-full p-2.5 border border-[#ADB7BE] placeholder-[#9CA2A9];
}

.post__heading {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 2rem;
}

.post__body {
  white-space: pre-wrap;
  margin: 0.5rem 0rem;
}

@media only screen and (min-width: 768px) {
  .post__heading {
    margin-top: 3rem;
  }
}