.light_theme_post {
  @apply container mt-16 md:mt-28 mx-auto px-12 text-[#565b5f];
}

.light_theme_back_btn {
  @apply border py-2 px-6 items-center hover:bg-black hover:text-white transition duration-200;
}

.post__title {
  line-height: 2.75rem;
}

.post__date {
  font-size: 1rem;
  color: var(--gray);
  width: 100px;
  display: inline-block;
  width: 260px;
}

.post__body {
  white-space: pre-wrap;
  margin: 2rem 0rem;
}

.blurred__container {
  position: relative;
  width: 100%;
  height: 100%;
}

.blurred__container::before {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  backdrop-filter: blur(5px);
}

.markdownBody {
  position: relative;
  z-index: 1;
  padding: 2px;
  user-select: none;
  pointer-events: none;
}


@media only screen and (min-width: 768px) {
  .articles__heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .post__title {
    width: 40rem;
  }

  .post__date {
    text-align: left;
  }
}
